/* SummaryPage.css */

.summary-container {
  margin: 100px auto;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.summary-title {
  font-size: 2.5rem;
  text-align: center;
  color: #333;
  margin-bottom: 50px;
  width: auto;
}

.summary-goal {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}

.summary-instruction {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}

.summary-list {
  list-style-type: disc;
  padding-left: 20px;
}

.summary-list li {
  font-size: 1.15rem;
  color: #444;
  margin-bottom: 10px;
}
