.main-header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  height: 2rem;
  padding: 1rem 0;
  align-items: center;
}

.back-button {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  border: 3px solid gray;
  border-radius: 8px;
  color: grey;
}

.dropdown-container {
  display: none;
}

.empty-div {
  display: none;
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  border: 3px solid gray;
  border-radius: 8px;
  color: grey;
}

@media screen and (min-width: 780px) {
  .dropdown-container {
    display: flex;
  }

  .empty-div {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }
}
